.DS_Store
.metadata/
WordFinderTwo/bin/
WordFinderTwo/gen/
WordFinderTwo/local.properties
WordFinderTestTest/.classpath
WordFinderTestTest/local.properties
WordFinderTestTest/junit-report.xml
WordFinderTestTest/bin


# OS specifc file
Thumbs.db
Desktrop.ini
.DS_Store

#personal stuff tim
.settings
!.classpath
!.gitignore

