.DS_Store
.metadata/
WordFinderTwo/bin/
WordFinderTwo/gen/
WordFinderTwo/local.properties
WordFinderTestTest/local.properties
WordFinderTestTest/junit-report.xml
WordFinderTestTest/bin
# OS specifc files
Thumbs.db
Desktrop.ini
.DS_Store
